.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.custom-table th {
  background: #2b85ff;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:hover {
  background-color: #f2f6ff;
}
